/** SIDEBAR
===================================*/
#sidebar{
	@include make-md-column(3);
}

.sideadv{
	margin-bottom: 22px;
	text-align: center;

	figure{
		margin-bottom: 20px;
	}
}

.sideblog{
	background: white;
	padding: 12px;
	padding-top: 35px;
	 overflow: hidden;
}

.sideblog__inner{
 border: 2px solid $primary-color;
 padding: $pixel + 7;


	&:before, &:after{
		content: '';
		display: table;
	}

	&:after{
		clear: both;
	}
}

.sideblog__title{
	font: 17px 'nouvelle', serif;
	color: $primary-color;
	background-color: white;
	margin: -38px 0 18px;
	padding: 10px;
	text-align: center;
}

