/** BLOG
===================================*/
.blogitem{
	overflow: hidden;
	margin-bottom: 25px;

	&.bloghome{
		@include inline-block();
		vertical-align: top;
		overflow: hidden;
		margin-bottom: 25px;
		margin: 0 5px 25px 5px;
	}

	.blogitem__in{
		background-color: white;
	}
	figure{
		text-align: center;
		@include prefixed(transition, 0.3s linear);	
		&:hover{
			@include opacity(0.8);
		}
	}
}

.blogitem__desc{
	padding: $pixel * 3;
	header{
		margin-bottom: 28px;

		a{
			color: $primary-color;

			&:hover{
				color: darken($primary-color, 15%);
				text-decoration: none;
			}
		}
	}
	.category{
		font: 12px 'montserratbold', serif;
		display: block;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		padding-bottom: $pixel;
		margin-bottom: $pixel * 2 + 8;

		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 35px;
			height: 1px;
			background: $primary-color;
		}
	}

	.author{
		
		a{
			font-family: 'Libre Baskerville', serif;
			font-weight: 700;
			text-decoration: underline;
			color: $primary-color;
		}
	}

	.content-text{
		margin-bottom: $pixel * 2 + 8;
	}
}

.title-art{
	margin: 0;
	font: 28px 'nouvelle' , georgia;
	margin-bottom: 7px;
	line-height: 1.1em;
	@media screen and (min-width: 48em){
		font-size: 36px;	
	}

	span{
		font-family: 'Libre Baskerville', serif;
		font-style: italic;
	}
}



.blogitem--side{
	@extend .blogitem;
	border-bottom: 1px solid $primary-color;
	@media screen and (max-width: 62em){
		float: left;
		max-width: 300px;
		margin-right: 10px;
		margin-left: 10px;
	}

	@media screen and (max-width: 732px){
		float: none;
		margin: 0 auto 25px; 
	}

	&:last-child{
		border-bottom: none;
	}

	.title-art {font-size: 21px;}
	@media screen and (min-width: 48em){
		 .title-art{
		 	font-size: 21px;
		 }
	}

	header{
		margin-bottom: 15px;
	}
	.category{
		font-size: 10px;
		margin-bottom: 15px;
	}
	.btn-remore{
		font-size: 10px;
	}

	figure{
		padding: 0 8px;
	}

	.blogitem__desc{
		padding: $pixel * 2;

		@media screen and (max-width: 62em){
			text-align: center;
		}
	}
}

.splash-bloglist{
	@include make-row();
}

.blogitem--splash{
	@extend .blogitem;
	@include make-md-column(4);

	@media screen and (min-width: 48em){
		.title-art {
	  		font-size: 30px;
		}
	}
}

/*====== FREEWALL ======*/
.free-wall {
	
}
.brick {
	width: 270px;
	margin-bottom: 20px;
}
