/** COMMMENT PAGE
===================================*/
.postdetail-wrap{
	background-color: $white-color;
	padding: $pixel * 3 + 5;
	margin-bottom: $pixel * 6;
}
.post-detail{
	margin-bottom: 50px;
	header{
		margin-bottom: 23px;
	}

}
.meta-wrap{
	margin-bottom: $pixel + 2;
	.meta-catg{
		padding-right: 8px;
		border-right: 1px solid $primary-color;
	}
	.meta-date{
		padding-left: 8px;
	}
}

.meta-catg{
	@include inline-block();
	font: 12px 'montserratbold', serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $primary-color;
}	
.meta-date{
	font-size: 12px;
	text-transform: uppercase;
	@include inline-block();
}	
.meta-author{
	display: block;

	a{
		font-family: 'montserratbold', serif;
		color: $primary-color;
		text-decoration: underline;
	}
}

.blogshare-top{
	margin-top: $pixel + 2;
}

.content-text{
	font-size: 17px;
	line-height: 1.6em;
	margin-bottom: 20px;
}

/** RESPOND
===================================*/
.comments{
	header{
		position: relative;
		margin-bottom: $pixel; 
	}
	.fa{
		position: absolute;
		  right: 0;
		  top: 0;
		  font-size: 34px;
	}

	.btn-brown{
		font-size: 14px;
		padding: 5px 25px;
		float: right;
	}
}

.f-respond{
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	padding: 25px 0;

	textarea{
		border: 1px solid $primary-color;
		@include border-radius(0);
		margin-bottom: 12px;
	}
}

/** SLIDEBOX
===================================*/
#slideBox{
	@include square(530px);
	overflow: hidden;
	margin-bottom: $pixel * 2;
	margin-left: auto;
	margin-right: auto;

	.rsArrowLeft { 
	 	left: 20px;
	}
	.rsArrowRight 
	{ 
		 right: 20px;
		 left: auto;
	}

	.rsArrowLeft .rsArrowIcn { background-position: bottom left; }
	.rsArrowRight .rsArrowIcn { background-position: bottom right; }

	@media screen and (min-width: 75em){
		float: left;
		margin-right: $pixel * 2 + 5;
	}
}

