#footer{
	background: $primary-color;
	color: white;
	padding: 30px 0;

	.container{
		position: relative;
	}
}

.title-foot{
	font: 13px "montserratbold", serif;
	margin: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.footmain{
	@include make-row();
}

.footmenu, .footshare, .subscribe{
	@include col-sm-5();

	@media screen and (max-width: 767px){
		margin-bottom: $pixel * 2 + 5;
		width: 47%;
		float: left;
	}	
	@media screen and (max-width: 40em){
		float: none;
		width: 100%;
		padding-bottom: $pixel + 7;
		padding-bottom: $pixel + 7;
		border-bottom: 1px solid darken($primary-color, 5%);
	}
}

.footmenu__list{
	ul{
		li{
			display:  block;
			a{
				color: white;
				display: block;
				padding: 1px 0;
			}
		}
	}
}

.footshare{
	.social{
		margin-top: 15px;
		a{
			background-color: white;
			color: $primary-color;
			line-height: 1.5em;
			margin: 0 2px;

			&.nocircle{
				background-color: transparent;
				color: white;
				line-height: 1em;
			}

			&:hover{
				@include opacity(0.7);
			}
		}
	}
}

.subscribe{
	.form-control{
		background: white;
		height: 25px;
		width: 100%;
		color: black;
		@include border-radius(0);
		margin-bottom: 8px;

		@media screen and (min-width: 75em){
			width: 52%;
		}
	}
	input[type="submit"]{
		margin-top: 0;
		vertical-align: top;
		margin-bottom: 13px;

		@media screen and (min-width: 75em){
			margin-bottom: 0;
		}
	}
	.checkbox{
		color: black;
		font-size: 0.8em;
		line-height: 1em;
		label{
			@media screen and (min-width : 768px){
				padding-left: 0;
			}
		}

		input[type="checkbox"]{
			float: left;
			margin-top: 0;
			margin-right: 8px;
		}
		div{
			overflow: hidden;
		}
	}
}

.copyright{
   font: 16px 'montserratbold', serif;
   color: white;
   letter-spacing: 0.4em;
   text-align: center;
   margin-top: 20px;

   @media screen and (min-width: 768px){
   	 position: absolute;
   	 right: 320px;
   	 text-align: left;
   	 margin-top: 0;

   }
}