body{
	background: $body-bg;
	font: $font-size $primary-font;
	line-height: 1.6em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a{
	@include prefixed(transition, .2s ease-in);
}

/** BASE LAYOUT
===================================*/

#container{
	position: relative;
	  overflow: hidden;
	  width: 100%;
	  height: 100%;
}
#inner-wrap{
	position: relative;
	height: 100%;
	width: 100%;
}

@media (min-width: 1430px) {
  .container {
    width: 1380px;
  }
}

/*====== FIVE COLUMN ======*/
.col-sm-5{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
.col-sm-5{
        width: 20%;
        float: left;
    }
}



/* ======== SOCIAL ICON ======== */
.social{
	a{
		@include inline-block();
		text-align: center;
		padding-top: 3px;
		@include border-radius(50%);
		background: $primary-color;
		color: white;
		font-size: 18px;
		width: 35px;
		height: 35px;
		@include prefixed(transition, all .3s linear);

		&.nocircle{
			background-color: transparent;
			color: $primary-color;
			font-size: 28px;
			line-height: 1em;
		}

		&:hover{
			color: $primary-color;
			background-color: white;
		}
	}
}

/*====== LINK AND BUTTON ======*/
.btn-remore{
	color: $primary-color;
	font: 13px 'montserratregular';
	letter-spacing: 0.2em;

	&:after{
		content: "\f138";
		font-family: 'FontAwesome';
		@include inline-block();
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
  		transform: translate(0, 0);

  		margin-left: 6px;
  		@include prefixed(transition, all .3s linear);

	}

	&:hover{
		&:after{
			margin-left: 8px;
		}
	}
}

.btn-brown{
	background: none;
	border: none;
	@include inline-block();
	text-align: center;
	@include border-radius(10px);
	font: 17px 'montserratbold', serif;
	padding: 10px 20px;
	text-transform: uppercase;
	color: white;
	background-color: $primary-color;
	letter-spacing: 0.2em;

	&:hover, &:focus{
		@include box-shadow(0 1px 4px rgba(0, 0, 0, .6));
		background-color: darken($primary-color, 8%);
		color: white;
		text-decoration: none;
	}
}

.btn-subscribe{
	background: none;
	border: none;
	@include inline-block();
	font: 12px "montserratregular", serif;
	color:white;
	background: #f39ca2;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 13px;

	&:hover{
		background: white;
		color: $primary-color;
	}
}

.btn-bordertrans{
	background: none;
	border: none;
	background: transparent;
	border: 3px solid white;
	color: white;
	font: 14px "montserratbold", serif;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	@include inline-block();
	padding: 8px 20px;
	text-decoration: none !important;

	&:hover{
		background-color: rgba(white, 0.3);
	}
}

/** TYPO
===================================*/
.title-blog{
	margin: 0;
	margin-bottom: 3px;
	font: 40px 'nouvelle', georgia;
	color: $primary-color;
	a{
		color: $primary-color;
	}
}

.title-coment{
	margin: 0;
	margin-bottom: 3px;	
	font: 18px 'montserratlight', serif;
	color: $primary-color;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding: 0 0 17px 38px;
	background: image-url("icon_coment.png") left top no-repeat;
	background-size: 26px 26px;
	border-bottom : 1px solid $primary-color;
}
