/*==========================================================================
  HEADER
========================================================================== */

#header{
	background: $white-color;
	padding-bottom: 25px;
}

.tophead{
	background: $primary-color;
	color: $white-color;
	font-size: 0.8em;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	padding: 5px 0 4px;
	margin-bottom: 15px;

	@media screen and (max-width: 48em){
		text-align: right;
		padding-right: 10px;
	}
}
.topdate, .signupwrap{
	@media screen and (min-width: 45em){
		@include make-sm-column(3);
	}
}
.topdate{
	text-transform: uppercase;
}
.toplogo{
	@include make-sm-column(6);
	text-align: right;

	@media screen and (min-width: 32em){
		text-align: center;
	}
}
.signupwrap{
	float: right;
	text-align: right;

	@media screen and (max-width: 48em){
		padding-right: 10px;
	}
	ul{
		li{
			@include inline-block();
			a{
				float: right;
				color: white;
				padding-left: 10px;
				line-height: 1.2em;
			}

			&:first-child{
				border-right: 1px solid white;
				padding-right: 10px;

			}
		}
	}
}

#logo{
	@media screen and (max-width: 45em){
		margin-top: 25px;
	}
	.logothumb{
		max-width: 70%;
		margin: 0 auto;
		@media screen and (min-width: 50em){
			max-width: 605px;
		}
	}
}

