#main{
	padding-bottom: 25px;
}

/*====== LAYOUT ======*/
#content{
	@include make-md-column(9);
}

/*==========================================================================
  GALLERY
========================================================================== */
#gallery{
	margin-bottom: 50px;
	ul{
		@include make-row();
	}
}

.galitem, .galitem-share{
	@include make-sm-column(6);
	@include make-md-column(3);
	text-align: center;
	
}
.galitem{
	.inner{
		position: relative;
		z-index: 1;
		display: table;
		width: 100%;
		overflow: hidden;
		cursor: pointer;

		&:before{
			content: '';
			position: absolute;
			z-index: 0;
			left: 0;
			right: 0;
			top: 0;
			@include square(100%);
			background: rgba(black, 0.4);
			@include opacity(1);
			@include prefixed(transition, opacity .4s ease-in);

		}

		@media screen and (max-width: 61em){
			&:before{
				display: none;
			}
		}

		&:hover{
			&:before{
				@include opacity(0);
			}
		}

		@media screen and (max-width: 65em){
			margin-bottom: 25px;
		}
	}

	
	.desc{
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 87%;
		height: 80%;
		font: 24px 'Libre Baskerville', serif;
		font-weight: 700;
		text-transform: uppercase;
		color: white;
		line-height: 1.4em;
		word-wrap: break-word;
		cursor: pointer;

		em{
			font-weight: 400;
		}

		.centered{
			display: table;
			width: 100%;
			height: 100%;
		}

		.incenter{
			display: table-cell;
			vertical-align: middle;
		}

	}	
}

.galitem-share{
	@extend .galitem;
	.inner{
		&:before{
			display:none;
		}
	}
	.desc{
		background: rgba($white-color, 0.7);
		color  : $primary-color;
		padding: 18px;
	}
}

/** BUTTON CENTER
===================================*/
.wrapbtn-center{
	text-align: center;
	margin: 25px 0 15px;
}
