/** INTRO
===================================*/

.herodesc{
	text-align: center;
	color: white;
	max-width: 400px;
	word-wrap: break-word;
	margin: 0 auto;

	.subtitle{
		font: 18px 'montserratbold', serif;
		display: block;
		letter-spacing: 0.2em;
	}
	.title{
		font: 22px 'Libre Baskerville', serif;
		font-style: italic;
		margin: 0;
		margin-bottom: 15px;
		letter-spacing: 0.1em;
	}

	.content-text{
		font-size: 15px;
		line-height: 1.6em;
		margin-bottom: 15px;
	}
}

/** ROYAL ADDITIONAL SLIDE
===================================*/
#full-width-slider {
  width: 100%;
  color: #000;
  height: 580px;
  margin-bottom: $pixel * 5;
}
.coloredBlock {
  padding: 12px;
  background: transparent;
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 50%;
  right:0; 
  left: 0;
  margin: auto;
  margin-top: -100px;
  max-width: 40%;
  padding-bottom: 0;
  background: #FFF;
  background: transparent;
  overflow: hidden;
  padding: 20px;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.75);
  left: 30px;
  right: auto;
}
.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; 
} 
.photosBy a {
  color: #000;
}
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
  .infoBlock {
    padding: 10px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 12px;
    text-align: left;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }

  .herodesc{
      padding-top: 30px;
      max-width: 100%;

      .content-text{
        display: none;
      }
  }
}

.rsMinW {
	.rsBullets{
		width: 100%;
		right: auto;
		left: 0;
	}
	.rsBullet{
		@include square(25px);
		span{
			@include square(14px);
			@include box-shadow(0);
			cursor: pointer;
		}

		&.rsNavSelected{
			span{
				background: #a58e69;
			}
		}
	}
}