/*MENU ===================================================================*/
.navigation{
	
}
#nav{
    text-align: center;
    margin-bottom: 20px;
    .menu, .menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .menu {
      @include inline-block();
      &:before {
        content: "";
        display: table;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      zoom: 1;
      ul li {
        padding: 0;
        margin: 0;
      }
      li {
        float: left;
        position: relative;
      }
      a {
        float: left;
        padding: 12px 14px;
        color: $text-color;
        text-transform: uppercase;
        font: 12px "montserratbold", serif;
        text-decoration: none;
         @include prefixed(transition, all .3s ease-out);

         @media screen and (min-width: 63em){
            font-size: 14px;
            padding-right: 30px;
            padding-left: 30px;
         }
      }
      li {
        text-align: left;
        &:hover > a {
          color: white;
          background: darken($text-color, 5%);
        }
        a:hover {
          /* IE6 only */
          color: white;
          background: darken($text-color, 5%);
        }
      }
      ul {
        margin: 20px 0 0 0;
        _margin: 0;
        /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 1;
        background: $primary-color;
        -moz-box-shadow: 0 -1px rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
      li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
      }
      ul {
        ul {
          top: 0;
          left: 180px;
          margin: 0 0 0 20px;
          _margin: 0;
          /*IE6 only*/
          -moz-box-shadow: -1px 0 0 darken($tertiary-color, 10%);
          -webkit-box-shadow: -1px 0 0 darken($tertiary-color, 10%);
          box-shadow: -1px 0 0 darken($tertiary-color, 10%);
        }
        li {
          float: none;
          display: block;
          border: 0;
          _line-height: 0;
          /*IE6 only*/
          border-bottom: 1px solid darken($primary-color, 8%);
          &:last-child {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
        a {
          padding: 10px;
          width: 180px;
          _height: 10px;
          /*IE6 only*/
          display: block;
          white-space: nowrap;
          float: none;
          text-transform: none;
          color: $white-color;
          font-family: "montserratregular", serif;
          &:hover {
           
          }
        }
      }
    }

}

.close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0.5s;
    -moz-transition: all0.4s ease 0.5s;
    -o-transition: all 0.4s ease 0.5s;
    -ms-transition: all 0.4s ease 0.5s;
    transition: all 0.4s ease 0.5s;
    display: none;
    font-size: 32px;
    color: white;
}

.open-btn{
    width: 40px;
    height: 40px;
    top: 19px;
    left: 20px;
    position: absolute;
    cursor: pointer;
    display: none;
    font-size: 30px;
    color: white;
    z-index: 999;
}




@media screen and (max-width: 45em) {
  .close-btn, .open-btn {
     display: block;
     @include opacity(1);
  }

    #nav {
      text-align: left;
      .menu{
            display: block;
            width: 100%;
            li {
                position: relative;
                display: block;
                float: none;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                &:last-child {
                  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
                a {
                  color: #fff;
                  font-size: 13px;
                  padding: 0.8em 2.14em;
                  text-transform: uppercase;
                  -webkit-backface-visibility: hidden;
                  -moz-backface-visibility: hidden;
                  -ms-backface-visibility: hidden;
                  -o-backface-visibility: hidden;
                  backface-visibility: hidden;
                  -webkit-font-smoothing: antialiased !important;
                  float:none;
                  display: block;
                  }
              }
            ul{
               visibility: visible;
               @include opacity(1);
               position: static;
               background: #000000;
               li{
                 border-bottom: 1px solid rgba(255,255,255,.1);;
               }
               a{
                  width: 100%;
               }
            }
        }

    }

    #inner-wrap {
      left: 0% !important;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform 500ms ease;
      -moz-transition: -moz-transform 500ms ease;
      -o-transition: -o-transform 500ms ease;
      transition: transform 500ms ease;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

  .sideMenuOpened #inner-wrap {
    left: 70%;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }

  #nav {
    position: absolute;
    z-index: 999; 
    top: 0;
    padding-top: 5.25em;
    height: 100%;
    width: 70%;
    background: #181818;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    left: 0;
   -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
   transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
   backface-visibility: hidden;
    .block {
      position: relative;
      padding: 0;
      background: transparent;
      opacity: 0.7;
      -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
      -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
      -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
      transition: opacity 300ms 100ms ease, transform 500ms ease;
      -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
      -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
      -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
      -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
      transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
      -webkit-transform-origin: 50% 0%;
      -moz-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      -o-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
    }
  }

  .sideMenuOpened #nav .menu {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
