{{> intro }}
<div id="main" role="main" >
	<div class="container">
			
		<div class="main-content">
			<div class="row">
				<div id="content">
					<div class="postdetail-wrap">
						{{#blogDetail}}
							<article class="post-detail">
								<header>
									<div class="meta-wrap">
										<a href="#" class="meta-catg">{{category}}</a>
										<span class="meta-date">{{date}}</span>
									</div>
									<h2 class="title-blog">{{title}}</h2>
									<span class="meta-author">{{{author}}}</span>
									<div class="blogshare-top"><img src="assets/img/share_btm_blog.png" alt=""></div>
								</header>

								<div class="content-text">
									<div id="slideBox" class="royalSlider slideBoxleft">
									  <div>
									    <figure><img class="rsImg" src="assets/img/slide/slide_box1.jpg" data-rsw="707" data-rsh="397"></figure>
									  </div>
									  <div>
									    <figure><img class="rsImg" src="assets/img/slide/slide_box2.jpg" data-rsw="800" data-rsh="300"></figure>
									  </div>
									  <div>
									    <figure><img class="rsImg" src="assets/img/slide/slide_box3.jpg" data-rsw="640" data-rsh="425"></figure>
									  </div>
									</div> <!-- //sliderBox -->
									<p>{{{desc}}}</p>
								</div>
								<div class="blogshare-btm"><img src="assets/img/share_top_blog.png" alt=""></div>
							</article>
						{{/blogDetail}}

						<div class="comments">
							{{#comment}}
							<header>
								<h2 class="title-coment">{{title}}</h2>
								<span class="fa fa-caret-down"></span>
							</header>
							<div class="f-respond">
								<form>
									<div class="form-group">
										<textarea class="form-control" rows="6" placeholder="Add a comment"></textarea>
									</div>
									<input type="submit" class="btn-brown" value="Comment">
									<div class="clearfix"></div>
								</form>
							</div>
							{{/comment}}
						</div><!-- //comments -->
					</div><!-- POSTDETAIL WRAP -->

					<div class="splash-bloglist">
					{{~#article}}
						{{#is id 1}}
							<article class="blogitem--splash">
								<div class="blogitem__in">
									<figure><a href="#"><img src="assets/img/gallery/{{thumb}}"></a></figure>
									<div class="blogitem__desc">
										<header>
												<span class="category">{{category}}</span>
												<a href="#"><h4 class="title-art">{{{ title }}}</h4></a>
												<p class="author">{{{author}}}</p> 
										</header>
										<div class="content-text">
											<p>{{desc}}</p>
										</div>
										<a href="#" class="btn-remore">{{button}}</a>
									</div>
								</div>
							</article>
					{{/is}} 
					{{~/article}}
					</div> <!-- //splash-bloglist -->
				</div>
				{{> aside }}
			</div>
		</div>
	</div>
</div> <!-- //MAIN -->
  