{{> intro }}
<div id="main" role="main" >
	<div class="container">
		<section id="gallery">
			<ul>
				{{~#gallery}}
					{{#isnt id 1}}
						<li class="galitem">
							<div class="inner">
								<a href="#">
								<figure>
									<img src="assets/img/{{thumb}}" alt="">
								</figure>	
								
									<div class="desc">
										<div class="centered">
											<div class="incenter">
												<p>{{{desc}}}</p>
											</div>
										</div>
									</div>
								</a>
							</div>
						</li>
					{{else}}
						<li class="galitem-share">
							<div class="inner">
								<figure>
									<img src="assets/img/{{thumb}}" alt="">
								</figure>	
								<div class="desc">
									<div class="centered">
										<div class="incenter">
											<p>{{{desc}}}</p>
											<div class="social">
												<a href="#"><i class="fa fa-facebook"></i></a>
												<a href="#"><i class="fa fa-twitter"></i></a>
												<a href="#"><i class="fa fa-instagram"></i></a>
												<a href="#" class="nocircle"><i class="fa fa-youtube"></i></a>
											</div>
										</div>
									</div>
								</disc>
							</div>
						</li>
					{{/isnt}}
				{{~/gallery}}
			</ul>
		</section>	<!-- //gallery -->
			
		<div class="main-content">
			<div class="row">
				<div id="content">
					<div id="freewall" class="free-wall">
						{{~#article}}
							<article class="blogitem brick">
								<div class="blogitem__in">
									<figure><a href="#"><img src="assets/img/gallery/{{thumb}}"></a></figure>
									<div class="blogitem__desc">
										<header>
												<span class="category">{{category}}</span>
												<a href="#"><h4 class="title-art">{{{ title }}}</h4></a>
												<p class="author">{{{author}}}</p> 
										</header>
										<div class="content-text">
											<p>{{desc}}</p>
										</div>
										<a href="#" class="btn-remore">{{button}}</a>
									</div>
								</div>
							</article>
						{{~/article}}
					</div>

					<div class="clearfix"></div>
					<div class="wrapbtn-center"><a href="#" class="btn-brown">Load More</a></div>
				</div>
			{{> aside }}
			</div>
		</div>
	</div>
</div> <!-- //MAIN -->
  