<aside id="sidebar">
	<div class="sideadv">
		{{#is filename "comment.html"}}
		<figure><a href="#"><img src="{{assetsimg}}/banner_adv2.jpg"></a></figure>
		{{/is}}
		<figure><a href="#"><img src="{{assetsimg}}/banner_adv.jpg"></a></figure>
		
	</div>

	<section class="sideblog">
		<div class="sideblog__inner">
			<h4 class="sideblog__title">FROM AROUND THE WEB</h4>
			<div class="sideblog__list">
				{{~#article}}
					{{#is id 1}}
					<article class="blogitem--side">
						<figure><a href="#"><img src="assets/img/gallery/{{thumb}}"></a></figure>
						<div class="blogitem__desc">
							<header>
								<span class="category">{{category}}</span>
								<a href="#"><h4 class="title-art">{{{ title }}}</h4></a>
								<p class="author">{{{author}}}</p> 
							</header>
							<a href="#" class="btn-remore">{{button}}</a>
						</div>
					</article>
					{{/is}}
				{{~/article}}
			</div>
		</div>
	</section> <!-- //side-article -->
</aside> <!-- //sidebar -->