<footer id="footer">
	<div class="container">
		<div class="footmain">
			{{~#footmenu}}
				<div class="footmenu">
					<h4 class="title-foot">{{ title }}</h4>
					<div class="footmenu__list">
						{{#list}}
							<ul>
								<li><a href="#">{{.}}</a></li>
							</ul>
						{{/list}}
					</div>
				</div>
			{{~/footmenu}}
			<div class="footshare">
				{{#footshare}}
					<h4 class="title-foot">{{title}}</h4>
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#" class="nocircle"><i class="fa fa-youtube"></i></a>
					</div>
				{{/footshare}}
			</div>

			<div class="subscribe">
				<form class="form-inline">
				  <div class="form-group">
				    <input type="text" class="form-control" placeholder="Jane Doe" placeholder="EMAIL ADDRESS">
				  	<input type="submit" value="subscribe" class="btn-subscribe"></button>
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> <div>I've read and accepted the Terms & Conditions and Privacy Policy and confirm I am at least 21 years old.</div>
				    </label>
				  </div>
				</form>
			</div>
		</div>

		<div class="copyright"><p>{{ copyright }}</p></div>
	</div>	
</footer> <!-- //FOOTER -->
