  <header id="header">
  		<div class="tophead">
	  		<div class="container">
	  			<div class="row">
			  		{{#tophead}}
			  			<div class="topdate">
			  				{{date}}	
			  			</div>
			  			<div class="toplogo">
			  				{{by}}
			  			</div>
			  			<div class="signupwrap">
			  				<ul>
			  				{{~#register}}
			  					<li><a href="#">{{.}}</a></li>
			  				{{~/register}}
			  				</ul>
			  			</div>
			  		{{/tophead}}
		  		</div>
	  		</div>
  		</div>

  		<div class="container"> 
  			{{> nav }}
  			
  			<div id="logo">
  				<figure class="logothumb"><a href="index.html"><img src="{{ assetsimg }}/logo.png" alt=""></a></figure>
  			</div><!-- Logo -->
  		</div>
  </header> <!-- HEADER -->
