<section id="full-width-slider" class="royalSlider heroSlider rsMinW">
	{{~#slider}}
		 <div class="rsContent">
		    <img class="rsImg" src="assets/img/{{thumb}}" alt="">
		    <div class="infoBlock rsABlock" data-fade-effect="" data-move-offset="10" data-move-effect="bottom" data-speed="200">
		      	<div class="herodesc">
					<span class="subtitle">{{subtitle}}</span>
					<h2 class="title">{{title}}</h2>
					<div class="content-text">
						<p>{{desc}}</p>
					</div>
					<a href="#" class="btn-bordertrans">{{ button }}</a>
				</div>
		    </div>
		 </div> 
	{{~/slider}}
</section><!-- FULLWIDTH SLIDER -->