<nav id="nav">
  <div class="close-btn"><span class="fa fa-times"></span></div>
  <ul class="menu">
      <li><a href="/">Home</a></li>
      <li>
          <a href="">FASHION</a>
          <ul>
            <li><a href="">CSS</a></li>
            <li><a href="">Graphic design</a></li>
            <li><a href="">Development tools</a></li>
            <li><a href="">Web design</a></li>
          </ul>
      </li>
      <li><a href="">BEAUTY</a></li>
      <li><a href="">FAITH</a></li>
      <li><a href="">INSPIRATION</a></li>
      <li><a href="">ENTERTAINMENT</a></li>
      <li><a href="">QNA LAIQA</a></li>
  </ul>
</nav><!-- //menu-wrap -->